$itau-orange: rgba(246, 94, 10, 1);
$itau-dark-orange: rgba(212, 56, 9, 1);
$itau-blue: rgba(0, 52, 153, 1);

$blue: rgba(0, 113, 206, 1);

$gray: rgba(60, 60, 60, 1);
$light-gray: rgba(162, 162, 162, 1);
$background-gray: rgba(244, 244, 244, 1);
$disabled-gray: rgba(221, 221, 221, 1);

$error-red: #d32f2f;
