@use "../../_mixins" as m;
@use "../../_variables" as v;

.flow-pd--container {
  height: 100%;
  width: 100%;

  font-size: 16px;

  @include m.column();

  .flow--title {
    @include m.defaultMargin();

    color: v.$gray;
    font-weight: 600;
    font-size: 1.25em;
    text-align: start;
  }

  .flow--subtitle {
    @include m.defaultMargin();

    color: v.$light-gray;
    font-size: 1em;
    font-weight: 400;
  }

  .hide {
    display: none;
  }

  .flow--form-step {
    width: 100%;
    margin-top: 32px;

    .flow-form--input {
      @include m.column();

      margin: 0px 16px 0px 16px;

      .hide {
        visibility: hidden;
      }

      .flow-form--error-message {
        height: 16px;
        margin: 4px 0px 16px 0px;

        color: v.$error-red;
        font-size: 0.75em;
        font-weight: 600;
      }
    }
  }

  .flow--legal-terms {
    margin-top: auto;
    font-size: 10px;
    color: v.$light-gray;
    padding-left: 16px;
    padding-right: 16px;
    text-align: justify;
  }

  .divider--container-personal {
    margin-top: 32px;
    width: 100%;

    @include m.row();
    justify-content: center;
    align-items: center;

    .divider {
      height: 1px;
      margin: 0px 16px 0px 16px;
      width: 100%;
      border-top: 1px solid v.$light-gray;
    }
  }

  .flow--actions {
    @include m.row();
    justify-content: space-evenly;

    width: 100%;
    margin-top: 32px;

    .flow--actions-forward {
      margin-right: 16px;

      &.start {
        margin-left: auto;
        margin-right: 32px;
      }
    }
    .flow--actions-backward {
      margin-left: 16px;
    }
  }
}

.flow-vd--container {
  height: 100%;
  width: 100%;

  @include m.column();

  font-size: 16px;

  .flow--title {
    @include m.defaultMargin();

    color: black;
    font-size: 1.25em;
    font-weight: 600;
    text-align: start;
  }

  .flow--subtitle {
    @include m.defaultMargin();

    color: v.$light-gray;
    font-size: 1em;
    font-weight: 400;
  }

  .hide {
    display: none;
  }

  .flow--form {
    width: 100%;
    margin-top: 32px;

    .flow-form--input-carprice {
      @include m.column();
      width: 100%;
      margin: 0px 16px 16px 16px;

      .flow-form--input-row {
        @include m.row();
        width: 100%;
        margin: 0px 16px 4px 0px;

        .border--error {
          border-bottom: 2px solid v.$error-red;
        }

        .flow-form--input-sign {
          color: v.$light-gray;
          margin-right: 16px;
          margin-top: 6px;
          padding-bottom: 6px;
          border-bottom: 1px solid v.$light-gray;

          font-size: 2em;
          font-weight: 600;
        }

        .flow-form--input-textfield {
          width: 50%;
        }
      }
    }

    .flow-form--error-message {
      height: 16px;
      color: v.$error-red;
      font-size: 0.75em;
      font-weight: 600;

      .hide {
        visibility: hidden;
      }
    }

    .flow-form--radio-buttons {
      @include m.defaultMargin();
    }
  }

  .flow-form--select-wrapper {
    margin: 0px 16px 48px 16px;
    width: 90%;
  }

  .divider--container {
    @include m.row();
    justify-content: center;

    width: 100%;
    margin-top: auto;

    .divider {
      width: 100%;
      height: 1px;
      margin: 0px 16px 0px 16px;
      border-top: 1px solid v.$light-gray;
    }
  }

  .flow--actions {
    @include m.row();
    justify-content: space-around;

    width: 100%;
    margin-top: 32px;

    .flow--actions-forward {
      margin-right: 16px;
    }
    .flow--actions-backward {
      margin-left: 16px;
    }
  }

  .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    @include m.row();
    font-size: 1.25em;
  }
}

.flow-rd--container {
  height: 100%;
  width: 100%;

  @include m.column();

  font-size: 16px;

  .flow--modal-container {
    @include m.row();
    justify-content: center;

    height: 100%;
    width: 100%;
  }

  .flow--info {
    @include m.row();
    @include m.defaultMargin();

    .flow--info-pill {
      padding: 0.5em 1.5em;
      margin-right: 1em;
      background-color: v.$gray;
      border-radius: 2em;

      font-size: 0.75em;
      font-weight: 600;
      color: white;
    }
  }

  .flow--title {
    @include m.defaultMargin();
    margin-top: 16px;

    color: v.$gray;
    font-size: 1.25em;
    font-weight: 600;
    text-align: start;
  }

  .flow--subtitle {
    @include m.defaultMargin();

    color: v.$light-gray;
    font-size: 1em;
    font-weight: 400;
  }

  .flow--footer {
    @include m.column();

    width: 100%;
    margin-top: auto;

    .flow--footer-button {
      @include m.row();
      justify-content: space-between;

      width: calc(100% - 32px);
      margin: 0px auto;

      padding: 1em 0em;
      color: v.$light-gray;

      cursor: pointer;

      span {
        font-size: 1em;
        font-weight: 600;
        color: v.$blue;
      }

      border-top: 1px solid v.$disabled-gray;

      &.last {
        border-bottom: 1px solid v.$disabled-gray;
      }
    }

    .flow--footer-legal {
      @include m.defaultMargin();

      font-size: 0.625em;
      color: v.$light-gray;
      text-align: justify;
      line-height: 1.25em;
    }
  }

  .flow--divider {
    @include m.row();
    justify-content: center;

    width: 100%;
    margin-top: 1em;

    .divider {
      width: 100%;
      height: 1px;
      margin: 0px 16px 0px 16px;
      border-top: 1px solid v.$light-gray;
    }
  }

  .flow--actions {
    @include m.row();
    justify-content: space-around;

    width: 100%;
    margin: 1em 0em;

    .flow--actions-forward {
      margin-right: 16px;
    }
    .flow--actions-backward {
      margin-left: 16px;
    }
  }
}

@media screen and (max-width: 425px) {
  .flow-pd--container {
    font-size: 14px;
  }

  .flow-vd--container {
    font-size: 14px;
  }
}
