@use "../../mixins" as m;
@use "../../_variables" as v;

.footer-actions--container {
  @include m.row();
  width: calc(100%);

  margin: 1em auto 0em auto;
  justify-content: flex-end;

  .backward {
    margin-right: auto;
    margin-left: 1em;
    &.hide {
      display: none;
    }
  }

  .forward {
    margin-left: auto;
    margin-right: 1em;
  }
}
