.flow-container {
  /* Height equals to 100% of height - (128px (64px for each header) + 32px (16px for each margin) */
  height: calc(100% - (64px + 32px));
  width: 100%;

  .flow-header {
    height: 64px;
    width: 100%;

    margin-bottom: 1em;
  }

  .flow-step {
    height: calc(100% - 64px);
    width: 100%;
    overflow-y: scroll;
  }
}
